/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

.wrapper{
    background-image: url('./images/dark_fish_skin.png');
    font-family: 'Open Sans', sans-serif;
    font-size: calc(14px + 0.5vw);
    height: 100vh;
    overflow: auto;
}